<div class="buy-container">
  <h1 class="main-text">PEDIDO</h1>
  <form class="form-container">
    <div class="inputs">
      <div class="left-side">
        <div style="margin-top: 30px">
          <Label>Produto<span class="red-important">*</span></Label>
          <input class="input" />
        </div>
        <div style="margin-top: 20px">
          <Label>Produto<span class="red-important">*</span></Label>
          <input class="input" />
        </div>
      </div>
      <div class="right-side">
        <div style="margin-top: 30px">
          <Label>Quantidade<span class="red-important">*</span></Label>
          <input class="input" />
        </div>
        <div style="margin-top: 20px">
          <Label>Quantidade<span class="red-important">*</span></Label>
          <input class="input" />
        </div>
      </div>
    </div>
    <div class="bot-side">
      <Label>Observação<span class="red-important">*</span></Label>
      <input class="input-bot" />
      <app-button style="margin-top: 20px" textButton="FINALIZAR"></app-button>
    </div>
  </form>
</div>
